<html lane="en">

  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <title> Player Management System</title>
  <head>

  <body>

    <h1>Player Management</h1>

    <table border="1">
      <thead>
          <tr>
              <th>Name</th>
              <th>Club</th>
              <th>Age</th>
              <th>Position</th>              
          </tr>
      </thead>
    <table>

    <div id="searchbyname">
      <input type="text" value="Enter Player Name" id="name"><br/>
      <input type="submit" value="Submit"/><br/>
      <button onclick="playerDAO.create(self, player)">Submit Player</button>
    
    
    </div>

  </body>  

   </html>